<div class="list-row" *ngIf="cities">
  <div class="col-md-6">
    <h4>Cities list</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let city of cities; let i = index"
          [class.active]="i===currentIndex">
        {{city.name}}
        <button class="btn btn-outline-success" type="button" (click)="open(city)">
          Detail
        </button>
        <button class="btn btn-outline-info" (click)="editObject(city)">
          Edit
        </button>
        <button class="btn btn-outline-danger " (click)="deleteCity(city.id)">Delete</button>
      </li>
    </ul>
    <button class="btn btn-outline-success " (click)="newObject()">Add new</button>
  </div>

  <div *ngIf="!cities">
    <p>Please click on a City</p>
  </div>
</div>
